<html>
<head>
    <title>Adauga inregistrare</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='myfont/css/all.min.css')}}">
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
</head>
<body>
    <div class="container">
        <div>
            <h2> </h2>
        </div>
        <div class="col-md-offset-3 col-md-5">
            <a href="{{url_for('home')}}" class="btn btn-success center-block">Acasa</a>
        </div>
        <div class="col-md-offset-3 col-md-5">
            <form method="POST" action="/addData">
                <h2 class="page-header text-primary text-center">Adauga inregistrare</h2>
                <div class="form-group">
                    <label>ID Cont</label>
                    <input type="text" class="form-control" name="cont" required>
                </div>
                <div class="form-group">
                    <label>Nume Caracter</label>
                    <input type="text" class="form-control" name="numeCaracter" required>
                </div>
                <div class="form-group">
                    <label>Tip Caracter</label>
                    <textarea class="form-control" name="tipCaracter" required></textarea>
                </div>
                <div class="form-group">
                    <label>Nivel</label>
                    <input type="text" class="form-control" name="nivel" required>
                </div>
                <div class="form-group">
                    <label>Bani</label>
                    <input type="text" class="form-control" name="bani" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-block" value="Adauga">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function(){
        $("form").attr("autocomplete","off");
    });
</script>
