{% extends "layoutUser.html" %}


{% block content1 %}
<table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nume Caracter</th>
                    <th>Tip Caracter</th>
                    <th>Nivel</th>
                    <th>Bani</th>
                </tr>
                </thead>
                <tbody>
                    {% for caracter in caractereUser %}
                    <tr>
                        <td>{{caracter[2]}}</td>
                        <td>{{caracter[3]}}</td>
                        <td>{{caracter[4]}}</td>
                        <td>{{caracter[5]}}</td>
                        <td style="text-align:center"><a href="{{url_for('obiecteCaracterUser',id=caracter[0])}} " class="btn btn-success">Obiecte</a></td>
                        <td style="text-align:center"><a href="{{url_for('misiuniCaracterUser',id=caracter[0])}} " class="btn btn-success">Misiuni</a></td>
                        <td style="text-align:center"><a href="{{url_for('stergeCaracterUser',id=caracter[0])}} " class="btn btn-danger">Sterge</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
</table>
{% endblock content1 %}